{
  "presets": [
    ["@babel/preset-env", { "targets": { "esmodules": true } }],
    "@babel/typescript"
  ],
  "plugins": [
    "@babel/plugin-proposal-numeric-separator",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ]
}
